.container {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}

.buttons,
.axes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button,
.axis {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.pressed{
    background-color: green;
}

.unit{
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    position: absolute;
    background: gray;
    border: 2px solid black;
    text-align: center;
}

.color-a {
    background-color: #f65314;
}

.color-y {
    background-color: #7cbb00;
}

.color-x {
    background-color: #00a1f1;
}

.color-b {
    background-color: #ffbb00;
}